################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MedicalServices/bin/Debug/net8.0
/MedicalServices/obj
